<h2>Modifier le rappel</h2>
<%= render "form_reminders", lesson: @lesson, reminder: @reminder %>
<%= link_to "Retour à la fiche élève", student_path(@lesson.student), class: "btn btn-secondary mt-2" %>
