<!-- filepath: /Users/emilienleborgne/code/Emilien-LB/RetroVision/app/views/lessons/edit.html.erb -->
<h1>Modifier une leçon</h1>
<%= render "form_lesson", lesson: @lesson %>
<%= link_to "Retour à la liste", student_path(@student), class: "btn btn-secondary mt-2" %>